<h1>Listing name and number</h1>
<table class="table">
<%= for user <- @phonebooks do %>
<tr>
  
<td><b><%= user.name%></b>(<%=user.id%>)</td>
<td><b><%=user.number%></b></td>
<td>
  <%= link "Show", to: phone_path(@conn, :show, user) %>
  <%= link "Delete", to: phone_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"] %>
  <%= link "Edit", to: phone_path(@conn, :edit, user)%>
</td>
</tr>

<%=end%>

<%= link "New", to: phone_path(@conn, :new) %>
